.jumbotron {
  background-image: url("../img/cosmic-cat.jpg");
  height: 33vh;
  background-size: cover;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.panel {
  border-color: #5900b3;
  box-shadow: 4px 4px #5900b3;
}

h3 {
  color: #5900b3;
}

.navbar {
  background-color: #5900b3;
  border: none;
  border-radius: 0;
}

.navbar button {
  background-color: white;
}
